// все пути указывать относительно того компонента, где они используются, для корректной работы

// general

$boldBigTextSize: 48px;
$boldBigTextWeight: 700;
$boldSmallTextSize: 32px;
$boldSmallTextWeight: 400;
$border: 3px solid #0500FF;
$borderRadius: 15px;
$paddingMain: 50px;

// registration page

$backgroundRegForm: url(../assets/img/Фон.svg);
$paddingRegForm: 15px;

// main

$paddingMainButton: 15px;

// TableNotes

$borderNotes: 1px solid #0500FF;
$tableNotesIsSecectColor: #D6D6FF;

// noteEdit

$noteEditTextSize: 36px;